<h2>Admin site</h2>
<hr />
<br />

<br />
<%= link_to "Export DB", { :controller => "admin", :action => "export_db" } %> <br />
<br />
<%= button_to "Restore original DB", { :controller => "admin", :action => "import_db" } %> <br />
<br />
<br />