<div id="about">	
	<h2>Vaalirahakone</h2>
	<p>Vaalirahakoneen tarkoitus on parantaa poliittisen rahoituksen läpinäkyvyyttä Suomessa. Sen avulla tavalliset kansalaiset 		voivat tarkastella ja kommentoida poliitikkojen yhteyksiä eri yrityksiin, yhteisöihin ja järjestöihin. Järjestelmän avulla kaikki käyttäjät voivat myös raportoida tietämistään yhteyksistä poliitikkojen ja muiden tahojen välillä. Tarkoituksena ei ole pelkästään 	rahoitusyhteyksien selvittäminen, vaan myös muiden vaikutuskanavien selvittäminen. 
	</p>
	
	<p> Vaalirahakoneen avulla voit etsiä yhteyksiä:
		<ul>
			<li>Poliitikon</li>
			<li>Yrityksen</li>
			<li>Järjestön</li>
			<li>Yhdistyksen</li>
		</ul>	
		välillä.
	</p>
	<p>Mikäli sinulla on tietoa tietyn poliitikon ja muun tahon välisistä yhteyksistä, toimi seuraavalla tavalla:
		<ol>
			<li>Klikkaa "Tapahtumat"-linkkiä</li>
			<li>Klikkaa "Uusi tapahtuma"-linkkiä sivun alalaidasta</li>
			<li>Täytä lomake, anna myös tiedon varmentava dokumenttitiedosto tai web-sivun osoite </li>
			<li>Valitse asianomainen poliitikko listasta</li>
			<li>Klikkaa "Lähetä"-painiketta.</li>
		</ol>	
	</p>
</div>