.navigation ul > li > a{
	color:white;
}
.navigation ul > li > a:hover{
	color:red;
}
.navigation .first-level {
	margin-top:15px;
	border-top:1px solid;
	border-top-color:white;
	padding-top:15px;
}
.navigation ul, .navigation li{
	list-style:none;
}
.container{
	clear:both;
	float:left;
	width:100%;
	background:#000099;
	margin-top:0px;
	min-width: 1250px;
}
.left {
	float:left;
	clear:none;
	width:19%;
	margin-top:10px;
	margin-left:0px;
	font-color:white;
}
.center{
	float:right;
	width:75%;
	margin-left:20px;
	background:white;
	padding-left:50px;
	min-height:350px;
	clear: none;
	min-width: 940px;
}
.right {
	float:left;
	width:15%;
}
.transactions td{
	padding-left:10px;
	padding-right:10px;
}
.transactions tr:nth-child(even) {
	background: #CCC;
	}
.transactions tr:nth-child(odd) {
	background: #EEE;
	}
	.transactions tr:hover{
		background-color:lightgreen;
	}
#latest td {
		padding-left:0;
		padding-right:4px;
	}
#photo_container{
	float:left;
	width:150px;
	height:200px;
	background:lightgrey;
	margin:10px;
	border:double 3px;
	border-color:grey;
}
#associations_container{
	border:1px solid;
	border-style:dotted;
	background-color:#eee;
	float:right;
	padding:25px;
	margin-right:40px;
}
#attachments_list{
	float:left;
	clear:both; 
	margin-top:100px;
}
#associations_list{
	float:left;
	clear:both;
}
#entity_transactions{
	float:left;
	clear:both; 
	margin-top:50px;
}
#export_csv{
	float:rigth;
}
#content {
	margin-top:40px;
	min-height:400px;
	float:left;
	clear:none;
	width:100%;
}
#notifications {
	width:100%;
	max-height:200px; 
	float:left;
	clear:none;
}
#notice {
	color: green;
}
#error {
	color:red;
}
#language{
	float:left;
	margin-top:110px;
	margin-left:20px
}
#search{
	float:left;
	margin-top:50px;
	margin-left:400px;
}
#header{
	width:100%; 
	float:left;
	background:url('/images/logo.png') no-repeat;
	min-width:1000px;
}
#footer{
	width:100%;
	float:left;
	clear:both;
}
h1 {
	font-size: x-large;
	text-decoration:underline;
}
h2 {
	font-size: large;
	text-decoration:underline;
}
h3 {
	font-size: medium;
	text-decoration:underline;
}
p{
}
body{
	color:black;
}